body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #2c3e50;
    text-align: left;
    margin-top: 20px;
    font-size: xx-large;
}

h2 {
    color: #2c3e50;
    text-align: left;
    margin-top: 20px;
    font-size: large;
}

h3 {
    color: #2c3e50;
    text-align: left;
    margin-top: 20px;
    font-size: xx-large;
}

.navigation {
    text-align: left;
    margin: 20px 0;
}

.navigation a {
    text-decoration: none;
    color: #3498db;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.navigation a:hover {
    color: #2c3e50;
}

.hobbies {
    color: #2c3e50;
    text-align: left;
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sports {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

.main-content {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

.school-img {
    max-width: 150px;
    height: auto;
}

.pictures {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}
